{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h2>Checkout form</h2>
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>
   
    <div class="row g-5">
      
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Contact</h4>
         {{ form_start(frmContact)}}
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
               {{ form_label(frmContact.nom, 'Nom :', {'label_attr': {'class': 'form-label'}}) }}
               {{ form_widget(frmContact.nom, {'attr':{'class':'form-control'}})}}
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

          <div class="col-sm-6">
               {{ form_label(frmContact.prenom, 'Prénom :', {'label_attr': {'class': 'form-label'}}) }}
               {{ form_widget(frmContact.prenom, {'attr':{'class':'form-control'}})}}
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

          <div class="col-12">
               {{ form_label(frmContact.Email, 'Email :', {'label_attr': {'class': 'form-label'}}) }}
               {{ form_widget(frmContact.Email, {'attr':{'class':'form-control'}})}}
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

           <div class="col-sm-6">
               {{ form_label(frmContact.entreprise, 'Entreprise :', {'label_attr': {'class': 'form-label'}}) }}
               {{ form_widget(frmContact.entreprise, {'attr':{'class':'form-control'}})}}
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-sm-6">
               {{ form_label(frmContact.telephone, 'Téléphone :', {'label_attr': {'class': 'form-label'}}) }}
               {{ form_widget(frmContact.telephone, {'attr':{'class':'form-control'}})}}
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

       
          <div class="col-12">
               {{ form_label(frmContact.Message, 'Email :', {'label_attr': {'class': 'form-label'}}) }}
               {{ form_widget(frmContact.Message, {'attr':{'class':'form-control'}})}}
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

          <div> {{ form_row(frmContact.Envoyer, {'attr':{'class':'w-100 btn btn-primary btn-lg'}})}}</div>
          {# <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button> #}
        </form>
        {{ form_end(frmContact)}}
      </div>
    </div>
  </main>

  
</div>


   
         

  
    

{% endblock %}
{# {{form_row(frmContact.nom)}} #}